body {
    /*此属性请勿修改至40以下*/
    padding-top: 40px;
}

/*导航条*/
.feely-navbar {
    font-family: "微软雅黑";
}

/*TopBanner*/
.feely-topbanner {
    background:-webkit-gradient(linear, left top, left bottom, from(transparent), to(#fff));
    color: #FFF;
    background-image:url(/static/img/background.jpg);
    height: 170px;
    border-style: solid 1px;
    border-radius: 4px;
}
.feely-topdiv {
    background:-webkit-gradient(linear, left top, left bottom, from(transparent), to(#fff));
    height: 170px;
}

/*主页引用文字，主要用于日期和时间。*/
.feely-quote {
    font-family: "微软雅黑";
    color: #666;
    font-size: 0.8em;
}

/*登录界面Wrapper*/
.feely-loginwrap {
	font-family: "微软雅黑";
}

/*页脚footer*/
.feely-footer {
    text-align: left;
}

.feely-yahei {
    font-family: "微软雅黑","Microsoft Yahei","SimHei";
}
/*Autosave Info Bar*/
.feely-autosave-info {
    margin-bottom: 0;
    position: fixed;
    left: 0px;
    bottom: 0px;
}
* html #assave {
    position:absolute;
    top:expression_r((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}
